body {
  display: flex;
}

p {
  font-size: 26px;
  margin-bottom: 35px;
}

span {
  color: #51545D;
  font-size: 16px;
}

button {
  margin-top: 40px;
}

button a{
  color: #fff;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
}

.form {
  justify-content: center;
  position: absolute;
}

#pass {
  display: flex;
  justify-content: right;
  min-height: 42px;
}

.view-pass {
  position: absolute;
  z-index: 1;
  margin-left: 90%;
  margin-top: 20px;
}

.label-access {
  display: flex;
}

.input-member {
  display: flex;
  align-items: center;
}

.member {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin: 0 10px 0 0;
}